.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Aevo',serif;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    margin-left: 140px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.content_box_404 h3 {
    font-size: 40px;
}

.content_box_404 p{
    font-size: 15px;
}
.content_box_404 {
    margin-left: 150px;
}